#main-headline {
    background-color: navy;
    margin: 0;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    min-height: 30vh;
}

.main {
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: lightsteelblue;
}

.nav-text {
    font-weight: bold;
}

a {
    color: black;
}

a:hover, a:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}
