.project-picture {
    max-width: 400px;
    min-height: 100px;
    max-height: 320px;
    padding: 20px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
}


.project_description {
    align-items: center;
}

.portfolio-row {
    min-height: 300px;
}